<div>
    <h2>Account Security</h2>
   <p>Trust and safety is a big deal in our community. Please verify your email and</p>
      <p>phone number so that we can keep your account secured.</p>
    <p style="text-align: right"><i>*Mandatory fields</i></p>
    <hr/>
    <div>
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <i class="fa fa-envelope-o" aria-hidden="true"  style="font-size:25px"></i>
                  <b>E-mail</b><code><i>Private</i></code>
            </div>
            <div style="text-align: right">
                <button class="btn btn-default"><a href="#">Verified</a></button>
            </div>
        </div>

        <br/><br/>

        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <i class="fa fa-phone" aria-hidden="true"  style="font-size:25px"></i>
                  <b>Phone Number</b><code><i>Private</i></code>
                <p>We'll never share your phone number.</p>
            </div>
            <div style="text-align: right">
                <button class="btn btn-default"><a href="#">Add Phone Number</a></button>
            </div>
        </div>

        <br/><br/>

        <div class="form-group" style="text-align: right">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default"><a ui-sref='professional()'>Continue</a></button>
            </div>
        </div>
    </div>
</div>