<div class="courses-page-area3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="course-details-inner">
                        <div class="course-details-comments">
                            <h3 class="sidebar-title">Customize Your Package</h3>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img alt="Comments" src="asset/img/course/16.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <h3>Greg Christman
                                        <span style="display:inline-block; margin-left: 300px;">
                                            <p> Qty*
                                                <select>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                </select>
                                            </p>
                                        </span>
                                        <span style="display:inline-block; margin-left: 50px;">
                                            <p><b>$1000</b></p>
                                        </span>
                                    </h3>
                                    <h3><b>Kitty Catty</b></h3>
                                    <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletog and typesetting industry. Lorem </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="sidebar-box">
                    <div class="sidebar-box-inner">
                        <div class="sidebar-course-reviews">
                            <h5 class="sidebar-title"><b>Summary</b></h5>
                            <div class="skill-area">
                                <div class="progress">
                                    <div class="lead">Subtotal </div>
                                    <div></div><span>$1000</span>
                                </div>
                                <div class="progress">
                                    <div class="lead">Service Fee</div>
                                    <div></div><span>$50</span>
                                </div>
                                <hr/>
                                <div class="progress">
                                    <div class="lead">Total</div>
                                    <div></div><span>$1000</span>
                                </div>
                                <div class="progress">
                                    <div class="lead">Delivery Time</div>
                                    <div></div><span>7 days</span>
                                </div>
                                <button type="submit" class="default-full-width-btn">Order Now</button>
                                <p style="text-align: center">You won't be charged yet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
