<div class="courses-page-area3">
    <div class="container">
        <div ng-controller="GigsController">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="course-details-inner">
                            <div class="course-details-comments">
                                <h3 class="sidebar-title">Customize Your Package</h3>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Comments" src="asset/img/course/16.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <h5>
                                            <b>[[gig_plan.name]]
                                            <!--<span style="display:inline-block; margin-left: 300px;">-->
                                                 <!--Qty*-->
                                                <!--<select>-->
                                                    <!--<option>1</option>-->
                                                    <!--<option>2</option>-->
                                                    <!--<option>3</option>-->
                                                    <!--<option>4</option>-->
                                                    <!--<option>5</option>-->
                                                    <!--<option>6</option>-->
                                                    <!--<option>7</option>-->
                                                    <!--<option>8</option>-->
                                                    <!--<option>9</option>-->
                                                    <!--<option>10</option>-->
                                                    <!--<option>11</option>-->
                                                    <!--<option>12</option>-->
                                                    <!--<option>13</option>-->
                                                    <!--<option>14</option>-->
                                                    <!--<option>15</option>-->
                                                    <!--<option>16</option>-->
                                                    <!--<option>17</option>-->
                                                    <!--<option>18</option>-->
                                                    <!--<option>19</option>-->
                                                    <!--<option>20</option>-->
                                                <!--</select>-->
                                            <!--</span>-->
                                            <!--<span style="display:inline-block; margin-left: 50px;">-->
                                                <!--<p><b>[[gig_plan.price]]</b></p>-->
                                            <!--</span>-->
                                            </b>
                                        </h5>
                                        <h3><b>[[gig_plan.package_name]]</b></h3>
                                        <p>[[gig_plan.package_description]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <div class="sidebar-course-reviews">
                                <h5 class="sidebar-title"><b>Summary</b></h5>
                                <div class="skill-area">
                                    <div class="progress">
                                        <div class="lead">Subtotal </div>
                                        <div></div><span>[[gig_plan.price]]</span>
                                    </div>
                                    <div class="progress">
                                        <div class="lead">Service Fee</div>
                                        <div></div><span>$50</span>
                                    </div>
                                    <hr/>
                                    <div class="progress">
                                        <div class="lead">Total</div>
                                        <div></div><span></span>
                                    </div>
                                    <div class="progress">
                                        <div class="lead">Delivery Time</div>
                                        <div></div><span>[[gig_plan.delivery_day]]</span>
                                    </div>
                                    <button type="submit" class="default-full-width-btn">Order Now</button>
                                    <p style="text-align: center">You won't be charged yet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
