<div class="gallery-area1">
    <div class="container">
        <div ng-controller="GigsController">
            <div class="pagination-area">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row about-page2-inner">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sidebar-box">
                                <div class="sidebar-box-inner">
                                    <h3 class="sidebar-title">[[ gig.gig_title ]]</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-divider"></div>

                    <img src="asset/img/banner/pro-1.jpg" class="img-responsive" alt="course">

                    <div class="section-divider"></div>

                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title">About This Gig</h3>
                            <hr/>
                            <ul class="sidebar-categories">
                                <li>[[gig.about_gig ]]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!--<div class="sidebar">-->
                        <div class="sidebar-box" style="align-content: right">
                            <div class="tab">
                                <button class="tablinks" onclick="openTab(event, 'premium')" ng-click="update_gig_plan(3)"><b>Premium</b></button>
                                <button class="tablinks" onclick="openTab(event, 'standard')" ng-click="update_gig_plan(2)"><b>Standard</b></button>
                                <button class="tablinks" onclick="openTab(event, 'basic')" id="defaultOpen" ng-click="update_gig_plan(1)"><b>Basic</b></button>
                            </div>

                            <div id="premium" class="tabcontent">
                                <div class="sidebar-box-inner">
                                    <div class="sidebar-course-reviews">
                                        <h4 class="sidebar-title">[[gig.premium_package_name]]<span style="display:inline-block; margin-left: 50px;">#[[gig.premium_price]]</span></h4>
                                        <br/>
                                        <p>[[gig.premium_package_description]]</p>
                                        <br/>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <b>[[gig.premium_delivery_day]] Days Delivery</b></p>
                                    </div>
                                </div>
                                <a href="#/customize" role="button" style="text-align: center" type="submit" class="default-full-width-btn">Continue(#[[gig.premium_price]])</a>
                            </div>

                            <div id="standard" class="tabcontent">
                                <div class="sidebar-box-inner">
                                    <div class="sidebar-course-reviews">
                                        <h4 class="sidebar-title">[[gig.standard_package_name]]<span style="display:inline-block; margin-left: 50px;">#[[gig.standard_price]]</span> </h4>
                                        <br/>
                                        <p>[[gig.standard_package_description]]</p>
                                        <br/>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <b>[[gig.standard_delivery_day]] Days Delivery</b></p>
                                    </div>
                                </div>
                                <a href="#/customize" role="button" style="text-align: center" type="submit" class="default-full-width-btn">Continue(#[[gig.standard_price]])</a>
                            </div>

                            <div id="basic" class="tabcontent">
                                <div class="sidebar-box-inner">
                                    <div class="sidebar-course-reviews">
                                        <h4 class="sidebar-title">[[gig.basic_package_name]]<span style="display:inline-block; margin-left: 50px;">#[[gig.basic_price]]</span> </h4>
                                        <br/>
                                        <p>[[gig.basic_package_description]]</p>
                                        <br/>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <b>[[gig.basic_delivery_day]] Days Delivery</b></p>
                                    </div>
                                </div>
                                <a href="#/customize" role="button" style="text-align: center" type="submit" class="default-full-width-btn">Continue(#[[gig.basic_price]])</a>
                            </div>
                            <hr/>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="section-divider"></div>

        <div ng-controller="ProfileController">
            <div class="pagination-area">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title">About The Seller</h3>
                            <hr/>
                            <ul class="sidebar-categories">
                                <li>[[person.description]]</li>
                            </ul>
                            <hr/>
                            <h3 class="title-default-left title-bar-big-left-close">PRO VERIFICATION</h3>
                            <ul class="course-feature2">
                                <li>[[person.category]]</li>
                            </ul>
                            <hr/>
                            <h3>General Info</h3>
                            <div class="contact-us-info1">
                                <ul>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <h3>From</h3>
                                        <p>[[person.country]]</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-language" aria-hidden="true"></i>
                                        <h3>Language</h3>
                                        <p>[[person.lang]]</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
