<div class="container">
    <div class="pagination-area">
        <div ng-controller="">
            <h3 class="title-default-left title-bar-big-left-close">Overview</h3>
            <div class="row">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <!--<div class="col-sm-4">-->
                                <!--<h4>Category*</h4>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4">-->
                                <!--<select id="make" name="make">-->
                                    <!--<option>Select category</option>-->
                                    <!--<option value="1">Graphics & Design</option>-->
                                    <!--<option value="2">Digital Marketing</option>-->
                                    <!--<option value="3">Writing & Translation</option>-->
                                    <!--<option value="4">Videos & Animation</option>-->
                                    <!--<option value="5">Music & Audio</option>-->
                                    <!--<option value="6">Programming & Tech</option>-->
                                    <!--<option value="7">Business</option>-->
                                    <!--<option value="8">Fun & Lifestyle</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <!--<div class="col-sm-4">-->
                                <!--<select id="model" name="model">-->
                                    <!--<option>Please choose category first</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="col-sm-4"  style="align-content: flex-end">-->
                                <!--<input type="text" class="form-control" name="firstname" placeholder="Sub-category" value="" ng-model="personData.firstname" id="firstname">-->
                            <!--</div>-->

                        <br/><br/><br/>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <h4>Gig Description*</h4>
                            </div>

                            <div class="col-sm-8">
                            <textarea placeholder="Gig title" class="textarea form-control" id="form-message" rows="8" cols="20"></textarea>
                            <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </fieldset>

                    <br/><br/><br/><br/>

                    <h3 class="title-default-left title-bar-big-left-close">Pricing</h3>
                    <div class="form-group">

                        <div class="col-sm-4">
                            <h4>Price*</h4>
                        </div>
                        <div class="col-sm-8">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>BASIC</th>
                                    <th>STANDARD</th>
                                    <th>PREMIUM</th>
                                </tr>
                                <tr>
                                    <td>Name of pacakage</td>
                                    <td><textarea placeholder="Name of package" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                    <td><textarea placeholder="Name of package" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                    <td><textarea placeholder="Name of package" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                </tr>
                                <tr>
                                    <td>Brief description of Package</td>
                                    <td><textarea placeholder="Brief description" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                    <td><textarea placeholder="Brief description" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                    <td><textarea placeholder="Brief description" class="textarea form-control" id="form-message" rows="3"></textarea></td>
                                </tr>
                                <tr>
                                    <td>Day of delivery</td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>1 Day Delivery</option>
                                            <option>2 Day Delivery</option>
                                            <option>3 Day Delivery</option>
                                            <option>4 Day Delivery</option>
                                            <option>5 Day Delivery</option>
                                            <option>6 Day Delivery</option>
                                            <option>7 Day Delivery</option>
                                            <option>8 Day Delivery</option>
                                            <option>9 Day Delivery</option>
                                            <option>10 Day Delivery</option>
                                            <option>11 Day Delivery</option>
                                            <option>12 Day Delivery</option>
                                            <option>13 Day Delivery</option>
                                            <option>14 Day Delivery</option>
                                            <option>15 Day Delivery</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>1 Day Delivery</option>
                                            <option>2 Day Delivery</option>
                                            <option>3 Day Delivery</option>
                                            <option>4 Day Delivery</option>
                                            <option>5 Day Delivery</option>
                                            <option>6 Day Delivery</option>
                                            <option>7 Day Delivery</option>
                                            <option>8 Day Delivery</option>
                                            <option>9 Day Delivery</option>
                                            <option>10 Day Delivery</option>
                                            <option>11 Day Delivery</option>
                                            <option>12 Day Delivery</option>
                                            <option>13 Day Delivery</option>
                                            <option>14 Day Delivery</option>
                                            <option>15 Day Delivery</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>1 Day Delivery</option>
                                            <option>2 Day Delivery</option>
                                            <option>3 Day Delivery</option>
                                            <option>4 Day Delivery</option>
                                            <option>5 Day Delivery</option>
                                            <option>6 Day Delivery</option>
                                            <option>7 Day Delivery</option>
                                            <option>8 Day Delivery</option>
                                            <option>9 Day Delivery</option>
                                            <option>10 Day Delivery</option>
                                            <option>11 Day Delivery</option>
                                            <option>12 Day Delivery</option>
                                            <option>13 Day Delivery</option>
                                            <option>14 Day Delivery</option>
                                            <option>15 Day Delivery</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>$5</option>
                                            <option>$10</option>
                                            <option>$15</option>
                                            <option>$20</option>
                                            <option>$25</option>
                                            <option>$30</option>
                                            <option>$35</option>
                                            <option>$40</option>
                                            <option>$45</option>
                                            <option>$50</option>
                                            <option>$55</option>
                                            <option>$60</option>
                                            <option>$65</option>
                                            <option>$70</option>
                                            <option>$75</option>
                                            <option>$80</option>
                                            <option>$85</option>
                                            <option>$90</option>
                                            <option>$95</option>
                                            <option>$100</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>$5</option>
                                            <option>$10</option>
                                            <option>$15</option>
                                            <option>$20</option>
                                            <option>$25</option>
                                            <option>$30</option>
                                            <option>$35</option>
                                            <option>$40</option>
                                            <option>$45</option>
                                            <option>$50</option>
                                            <option>$55</option>
                                            <option>$60</option>
                                            <option>$65</option>
                                            <option>$70</option>
                                            <option>$75</option>
                                            <option>$80</option>
                                            <option>$85</option>
                                            <option>$90</option>
                                            <option>$95</option>
                                            <option>$100</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="skill_level" ng-model="professionData.skill_level" id="skill_level">
                                            <option>$5</option>
                                            <option>$10</option>
                                            <option>$15</option>
                                            <option>$20</option>
                                            <option>$25</option>
                                            <option>$30</option>
                                            <option>$35</option>
                                            <option>$40</option>
                                            <option>$45</option>
                                            <option>$50</option>
                                            <option>$55</option>
                                            <option>$60</option>
                                            <option>$65</option>
                                            <option>$70</option>
                                            <option>$75</option>
                                            <option>$80</option>
                                            <option>$85</option>
                                            <option>$90</option>
                                            <option>$95</option>
                                            <option>$100</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <br/><br/><br/><br/>

                    <h3 class="title-default-left title-bar-big-left-close">Description</h3>
                    <hr/>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <h4>Briefly Describe Your Gig*</h4>
                        </div>
                        <br/>
                        <div class="col-sm-8">
                            <textarea placeholder="Gig title" class="textarea form-control" id="form-message" rows="8" cols="20"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                        <br/><br/>

                    <div class="col-sm-12">
                        <div class="form-group margin-bottom-none" style="text-align: right">
                            <button type="submit" class="view-all-accent-btn">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Styles For Table-->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<script>
    jQuery(document).ready(function($){
        $('#make').change(function(){
            $.get("{{ url('dropdown')}}",
                    { option: $(this).val() },
                    function(data) {
                        var model = $('#model');
                        model.empty();

                        $.each(data, function(index, element) {
                            model.append("<option value='"+ element.id +"'>" + element.name + "</option>");
                        });
                    });
        });
    });
</script>


