<div class="courses-page-area3">
    <div class="container">
        <div ng-controller="GigsController">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="course-details-inner">
                            <div class="course-details-comments">
                                <h3 class="sidebar-title">Payment options</h3>
                                <div class="media">
                                    <div class="pull-left">
                                        <label class="checkbox_container">
                                            <h4><b>Pay with Rave</b></h4>
                                            <input type="radio" checked="checked" name="radio">

                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <div class="sidebar-course-reviews">
                                <h5 class="sidebar-title"><b>Summary</b></h5>

                                <div class="section-divider"></div>

                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Comments" src="asset/img/course/41.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <h5>
                                            <b>[[gig_plan.name]]
                                            </b>
                                        </h5>
                                    </div>
                                </div>

                                <div class="section-divider"></div>



                                <div class="section-divider"></div>

                                <div class="skill-area">
                                    <div class="progress">
                                        <div class="lead">Service Fee</div>
                                        <div></div><span ng-model="b">$[[service_fee]]</span>
                                    </div>

                                    <div class="section-divider"></div>

                                    <div class="progress">
                                        <div class="lead">Total</div>
                                        <div></div><span><b>$[[calculate(gig_plan.price, service_fee)]]</b></span>
                                    </div>
                                    <div class="progress">
                                        <div class="lead">Delivery Time</div>
                                        <div></div><span>[[gig_plan.delivery_day]] days</span>
                                    </div>
                                    <button type="submit" class="default-full-width-btn" onClick="payWithRave()">Pay Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>