<!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('asset/img/banner/banner-9.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h3 style="text-align: left; color: white; font-size: xx-large">Top quality, hand-picked
                professionals</h3>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->
<div class="footer-area-top" style="background-color: white;">
    <div class="container">
        <h2 style="color:black; font-weight: 900; text-align: left"><b>Pro Logo Design Services</b></h2>
        <div class="row">
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a ui-sref="start_selling"><img src="asset/img/card/card-3.png"></a>
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->

        <br/><br/>
        <h2 style="color:black; font-weight: 900; text-align: left"><b>Pro Articles & Blog Post Services</b></h2>
        <div class="row">
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="asset/img/card/card-3.png">
                    <div class="caption">
                        <p style="color: black">lara1544</p>
                        <p style="color: black">I will create your logo and brand your design.</p>
                        <hr/>
                        <a href="#" class="btn btn-default btn-xs pull-right" role="button">Starting At $100</a><a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-heart"></i></a> <a href="#" class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container -->
    <br/><br/>

    <div class="container">
        <h2 style="color:black; font-weight: 900; text-align: left"><b>Get Top Pro Services</b></h2>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="about-page-img-holder">
                <img src="asset/img/about/2.jpg" class="img-responsive" alt="about">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="about-page-img-holder">
                <img src="asset/img/about/2.jpg" class="img-responsive" alt="about">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="about-page-img-holder">
                <img src="asset/img/about/2.jpg" class="img-responsive" alt="about">
            </div>
        </div>
    </div>
    <!--/container -->
</div>