<footer>
    <div class="footer-area-top" style="background-color: whitesmoke;">
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-7 five-three">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 style="margin-bottom: 15px; color: black;">Categories</h3>
                                <ul>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Graphics &amp; Design</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Digital Marketing</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Writing &amp; Teanslation</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Videos &amp; Animation</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Music &amp; Audio</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Programming &amp; Tech</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Businnes</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Fun & Lifestyle</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h3 style="margin-bottom: 15px; color: black;">About</h3>
                                <ul>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Career</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Press &amp; News</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Partnership</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Privacy Policy</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Terms of Service</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Intellectual Property</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Claims</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <h3 style="margin-bottom: 15px; color: black;">Support</h3>
                                <ul>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Contact Support</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Help &amp; Education</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Trust &amp; Safety</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Buying on Fiverr</a></li>
                                </ul>
                            </div><!-- end inner row -->
                        </div>
                    </div>
                    <div class="col-sm-5 five-two">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 style="margin-bottom: 15px; color: black;">Community</h3>
                                <ul>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Blog</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Forum</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Podcast</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Affiliates</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Invite a Friend</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="color: black; font-weight: 100">Fiverr Elevate
                                        <br/><code>Exclusive Benefits</code></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <h3 style="margin-bottom: 15px; color: black;">For Freelancers</h3>
                                <ul>
                                    <li style="padding: 8px 10px;"><a href="#" style="padding: 8px 10px; color: black; font-weight: 100">Become a Seller</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="padding: 8px 10px; color: black; font-weight: 100">Fiverr Pro</a></li>
                                    <li style="padding: 8px 10px;"><a href="#" style="padding: 8px 10px; color: black; font-weight: 100">AND CO
                                        <br/><code>Free Invoice Software</code></a></li>
                                </ul>
                            </div>
                        </div><!-- end inner row -->
                    </div>
                </div><!-- end outer row -->
            </div>
        </div>
    </div>




    <hr/>
    <div class="footer-area-bottom" style="background-color: whitesmoke;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>&copy; 2017 Academics All Rights Reserved. &nbsp; Designed by<a target="_blank" href="http://radiustheme.com/"> RadiusTheme</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <ul class="payment-method">
                        <li><a href="#"><img alt="payment-method" src="asset/img/payment-method1.jpg"></a></li>
                        <li><a href="#"><img alt="payment-method" src="asset/img/payment-method2.jpg"></a></li>
                        <li><a href="#"><img alt="payment-method" src="asset/img/payment-method3.jpg"></a></li>
                        <li><a href="#"><img alt="payment-method" src="asset/img/payment-method4.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
